.nav
  +grid-row
  background: $c1

  &__inner
    +grid-col(12)
    display: flex
    justify-content: flex-end
    height: rem-calc(40)

  ul
    margin: 0
    align-self: center
    list-style: none

  li
    display: inline-block
    margin-right: 1rem