{
  "presets": ["es2015", "react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "presentation": "./src/components/presentation",
        "page": "./src/components/page",
        "layout": "./src/components/layout",
        "data": "./src/data",
        "routes": "./src/routes",
        "image": "./src/static/img",
        "TweenLite": "./node_modules/gsap/src/uncompressed/TweenLite.js",
        "TweenMax": "./node_modules/gsap/src/uncompressed/TweenMax.js",
        "TimelineLite": "./node_modules/gsap/src/uncompressed/TimelineLite.js",
        "ScrollMagic": "./node_modules/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js",
        "animation.gsap": ".node_modules/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js",
        "debug.addIndicators": ".node_modules/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"
      }
    }]
  ],
  "env": {
  	"production": {
  		"ignore": [
  			"./src/static/compiled/*.js"
  		]
  	}
  }
}