{
  "presets": ["es2015", "react"],
  "plugins": [
  	"react-hot-loader/babel",
	  "babel-plugin-transform-react-pug"
	],
  "env": {
  	"production": {
  		"ignore": [
  			"./src/static/js/*.js"
  		]
  	}
  }
}