doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title React Boilerplate
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    #main #{markup}
    h1 helldddo
    script(src='/js/bundle.js')