.album-thumb

  &__layout-block
    +grid-col(6)
    margin-bottom: 1rem

    +breakpoint(medium)
      +grid-col(4)

  &__inner
    text-align: center

  h2
    line-height: 1.1
    color: $c1
    font-weight: bold