<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%/* <meta name="google-site-verification" content="" /> */%>
    <%- head.title.toString() -%>
    <%- head.meta.toString() -%>
    <% if (env === 'production') { %>
			<link rel="stylesheet" type="text/css" href="/bundle.css">
    <% } %>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
  </head>
  <body>
    <div id="main"><%- markup -%></div>

    <%/*
      This path is sourced differently depending on env - 
      on development is coming from middleware memory, on
      production it is actually referring to the static file in
      static/compiled directory 
    */%>
    <script src="/bundle.js"></script>
  
  </body>
</html>